<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SysVendas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lte IE 8]><link rel="stylesheet" href="../../responsive-nav.css"><![endif]-->
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="./css/styles.css"><!--<![endif]-->
    <script src="./css/responsive-nav.css"></script>
  </head>
  <body>

    <div role="navigation" id="foo" class="nav-collapse">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Vendas</a></li>
        <li><a href="#">Vendedor</a></li>
      </ul>
    </div>

    <div role="main" class="main">
      <a href="#nav" class="nav-toggle">Menu</a>
    </div>

    <script>
      var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
    </script>
  </body>
</html>
